body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: #e0fbfc;
    color: #102a43;
}

header {
    background-color: #83c5be;
    padding: 20px;
}

nav {
    background-color: #006d77;
    padding: 10px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: #ffddd2;
    text-decoration: underline;
}

main {
    background-color: #edf6f9;
    font-size: 20px;
    padding: 20px;
}

footer {
    background-color: #83c5be;
    padding: 15px;
}

li {
    display: inline-block;
    width: 220px;
}

h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: #003049;
}

p {
    line-height: 1.6;
}
